# Coding exercises from the previous class

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/xiangshiyin/python-for-kids/blob/main/2022-fall/2022-11-19/practice.ipynb)

# 1. Non-primitive Data Types

## Common data types include:
* list
* tuple
* set
* dictionary

## Official documentation: https://docs.python.org/3/tutorial/datastructures.html#

## 1.3 Set

In [19]:
## create a set: {} and set(), by manually putting in all the elements
a = {1,2,3}

In [20]:
a

{1, 2, 3}

In [21]:
b = set([1,2,3,4]) # from a list
b

{1, 2, 3, 4}

In [22]:
b = set([1,2,3,4,1]) # from a list with duplicates
b

{1, 2, 3, 4}

In [23]:
## create an empty set and add elements to it
a = set()
a

set()

In [25]:
a.add(1) # add an element

In [26]:
a

{1}

In [28]:
a.add(1) # add the same value again
a

{1}

In [29]:
a.add(2) # add one more
a

{1, 2}

In [30]:
## set operations: union, intersection, difference
x = {1,2,3}
y = {3,4,5}

![](./Python-Set-Operatioons.png)

In [31]:
# z = x.union(y)
z = x | y
z

{1, 2, 3, 4, 5}

In [32]:
# z = x.intersection(y)
z = x & y
z

{3}

In [33]:
z = x - y
z

{1, 2}

In [34]:
z = y - x
z

{4, 5}

In [ ]:
## how we combine 2 sets??

In [ ]:
## add and remove an element in a set

In [ ]:
## check if an element exists in a set

## 1.4 Dictionary

In [ ]:
## create a dictionary

In [ ]:
## create an empty dictionary, x = {}

In [ ]:
## access elements in a dictionary, x[key]

In [ ]:
## changing and adding elements in a dictionary

In [ ]:
## remove elements in a dictionary, x.pop()

In [ ]:
## check if a key exists in a dictionary

## 1.5 Iterate through these data types

### 1.5.1 List

In [ ]:
## iterate through the list and print every single element in order

In [ ]:
## iterate through the list and print every single element in reversed order

### 1.5.2 Tuple

In [ ]:
## iterate through a tuple

### 1.5.3 Set

In [ ]:
## iterate through a set

### 1.5.4 Dictionary

In [ ]:
## iterate the keys in a dictionary

In [ ]:
## iterate the values in a dictionary

# 2. Exercise

## 2.1 Print all key-value pairs in a dictionary

In [ ]:
students = {'james': 12, 'kevin': 10, 'collin': 11}

## 2.2 Write a program to sort a given list

* Input: x = [2,1,4,3,0]
* Output: [0,1,2,3,4] (either print it out or return a variable with the sorted result)