# Coding exercises from the previous class

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/xiangshiyin/python-for-kids/blob/main/2022-2023/2022-12-03/practice.ipynb)

## Section 1. Iterate through the non-primitive data types

### 1.1 List

In [1]:
x = [1,2,3,4,5,6,7,8,9]
len(x)

9

In [2]:
## iterate through the list and print every single element in order
x = [1,2,3,4,5,6,7,8,9]
L = len(x)

# option 1: using the positional index
for i in range(L):
    print(i, x[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [3]:
# option 2:

for v in x:
    print(v)

1
2
3
4
5
6
7
8
9

In [4]:
x = 'abc'
for v in x:
    print(v)

a
b
c

In [8]:
## iterate through the list and print every single element in reversed order

x = [1,2,3,4,5]
L = len(x)

for i in range(L-1,-1,-1):
    print(x[i])

5
4
3
2
1

### 1.2 Tuple

In [9]:
## iterate through a tuple
x = (1,2,3)
x[0]

1

In [10]:
for v in x:
    print(v)

1
2
3

### 1.3 Set

In [11]:
## iterate through a set

x = set([1,2,3,4,5])
x

{1, 2, 3, 4, 5}

In [13]:
L = len(x)
L

5

In [14]:
for i in range(L):
    print(x[i])

TypeError: 'set' object is not subscriptable

In [15]:
for v in x:
    print(v)

1
2
3
4
5

### 1.4 Dictionary

In [17]:
## iterate the keys in a dictionary
students = {'james': 12, 'kevin': 10, 'collin': 11}

for name in students:
    print(name, students[name])

james 12
kevin 10
collin 11

In [18]:
L = len(students)
L

3

In [19]:
for i in range(L):
    print(students[i])

KeyError: 0

In [22]:
names = list(students.keys())
names

['james', 'kevin', 'collin']

In [23]:
for i in range(L):
    print(names[i])

james
kevin
collin

In [24]:
## iterate the values in a dictionary

ages = list(students.values())
ages

[12, 10, 11]

In [25]:
students

{'james': 12, 'kevin': 10, 'collin': 11}

In [26]:
## access key and value the same time

for key,value in students.items():
    print(key, value)

james 12
kevin 10
collin 11

In [27]:
for name,age in students.items():
    print(name, age)

james 12
kevin 10
collin 11

In [28]:
y,z = [1,2]
print(y,z)

1 2

In [29]:
y,z = (1,2)
print(y,z)

1 2

In [31]:
list(students.items())

[('james', 12), ('kevin', 10), ('collin', 11)]

### 1.5. Exercise

#### 1.5.1 Print all key-value pairs in a dictionary

In [ ]:
students = {'james': 12, 'kevin': 10, 'collin': 11}

#### 1.5.2 Write a program to sort a given list

* Input: x = [2,1,4,3,0]
* Output: [0,1,2,3,4] (either print it out or return a variable with the sorted result)

## Section 2. Function

```python
def function_name(param1, param2, ...):
    <logic>
    return <value>
```

### 2.1 Create a simple function

### 2.2 Call a function

### 2.3 Pass parameters to a function