# Section 1. More on file I/O

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/xiangshiyin/python-for-kids/blob/main/2022-2023/2023-04-08/practice.ipynb)

## 1.1 read and write at the same time

In [1]:
## try the r+ mode, read information out only
with open('sample_read.txt', 'r+') as file:
    for line in file.readlines():
        print(line)

This is the title

This is the first line of the file

This is the second line of the file

This is the third line of the file

In [2]:
with open('sample_read_2.txt', 'r+') as file:
    for line in file.readlines():
        print(line)

This is the title of the test file

In [4]:
## try the r+ mode
with open('sample_read.txt', 'r+') as file:
    for line in file.readlines():
        print(line)
    file.write('This is the fourth line of the file')

This is the title

This is the first line of the file

This is the second line of the file

This is the third line of the file

In [5]:
with open('sample_read.txt', 'r+') as file:
    for line in file.readlines():
        print(line)

This is the title

This is the first line of the file

This is the second line of the file

This is the third line of the file

This is the fourth line of the file

## 1.2 append content to a file

In [9]:
with open('sample_read.txt', 'a') as file:
    file.write('\nThis is the last line I write\n')

In [10]:
with open('sample_read.txt', 'r+') as file:
    for line in file.readlines():
        print(line)

This is the title

This is the first line of the file

This is the second line of the file

This is the third line of the file

This is the fourth line of the file



This is the last line I write

# Section 2. The Harry Potter Book

## 2.1 Read the whole book

In [1]:
## read the whole book
with open('hp.txt', 'r') as file:
    content = file.readlines()

In [2]:
content[:10]

["Harry Potter and the Sorcerer's Stone\n",
 '\n',
 '\n',
 'CHAPTER ONE\n',
 '\n',
 'THE BOY WHO LIVED\n',
 '\n',
 'Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say\n',
 'that they were perfectly normal, thank you very much. They were the last\n',
 "people you'd expect to be involved in anything strange or mysterious,\n"]

In [3]:
for c in content[:10]:
    print(c)

Harry Potter and the Sorcerer's Stone





CHAPTER ONE



THE BOY WHO LIVED



Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say

that they were perfectly normal, thank you very much. They were the last

people you'd expect to be involved in anything strange or mysterious,

## 2.2 Can we do a little cleaning of the book?

In [4]:
## common punctuations

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
## most straighforward way

x = 'I love soccer, do you?'
x.replace(',', '')

'I love soccer do you?'

In [6]:
len(string.punctuation)

32

In [8]:
for p in string.punctuation:
    x = x.replace(p, '')

In [9]:
x

'I love soccer do you'

In [10]:
## remove all common punctuations
text = 'I love soccer, do you?'
translator = str.maketrans('', '', string.punctuation)
clean_text = text.translate(translator)

clean_text

'I love soccer do you'

In [11]:
## remove punctuations in the book
with open('hp.txt', 'r') as file:
    content = file.read()

In [12]:
type(content)

str

In [13]:
content[:200]

"Harry Potter and the Sorcerer's Stone\n\n\nCHAPTER ONE\n\nTHE BOY WHO LIVED\n\nMr. and Mrs. Dursley, of number four, Privet Drive, were proud to say\nthat they were perfectly normal, thank you very much. They"

In [14]:
translator = str.maketrans('', '', string.punctuation)
content2 = content.translate(translator)

content2[:200]

'Harry Potter and the Sorcerers Stone\n\n\nCHAPTER ONE\n\nTHE BOY WHO LIVED\n\nMr and Mrs Dursley of number four Privet Drive were proud to say\nthat they were perfectly normal thank you very much They were th'

In [17]:
content_copy = content
content_copy[:200]

"Harry Potter and the Sorcerer's Stone\n\n\nCHAPTER ONE\n\nTHE BOY WHO LIVED\n\nMr. and Mrs. Dursley, of number four, Privet Drive, were proud to say\nthat they were perfectly normal, thank you very much. They"

In [18]:
for p in string.punctuation:
    content_copy = content_copy.replace(p, '')
content_copy[:200]

'Harry Potter and the Sorcerers Stone\n\n\nCHAPTER ONE\n\nTHE BOY WHO LIVED\n\nMr and Mrs Dursley of number four Privet Drive were proud to say\nthat they were perfectly normal thank you very much They were th'

In [19]:
## cast the content to lower case

content3 = content2.lower()

In [20]:
content3[:200]

'harry potter and the sorcerers stone\n\n\nchapter one\n\nthe boy who lived\n\nmr and mrs dursley of number four privet drive were proud to say\nthat they were perfectly normal thank you very much they were th'

## 2.3 What are the frequently used words?

In [21]:
words = content3.split()

In [23]:
words[:10]

['harry',
 'potter',
 'and',
 'the',
 'sorcerers',
 'stone',
 'chapter',
 'one',
 'the',
 'boy']

In [24]:
len(words)

77599

In [25]:
## get word frequency
counter = {}

for w in words:
    if not w in counter:
        counter[w] = 1
    else:
        counter[w] += 1
# print(counter)

In [27]:
counter['harry']

1214

In [28]:
counter['snape']

145

In [29]:
counter['dumbledore']

143

In [30]:
## rank the words by frequency
words_ranked = sorted(counter.keys(), key=lambda x: -1 * counter[x])

In [31]:
words_ranked[:20]

['the',
 'and',
 'to',
 'a',
 'he',
 'of',
 'harry',
 'was',
 'it',
 'in',
 'his',
 'you',
 'said',
 'had',
 'i',
 'on',
 'at',
 'that',
 'they',
 'as']

In [ ]:
## Do all the words make sense?

## 2.4 Remove the stop words

In [32]:
# pip install nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/xiangshiyin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [33]:
### get the stop words
stop_words = set(stopwords.words('english'))

In [34]:
len(stop_words)

179

In [36]:
stop_words_ch = set(stopwords.words('chinese'))
len(stop_words_ch)

841

In [38]:
### filter out the stop words
words_ranked2 = []
for w in words_ranked:
    if w not in stop_words:
        words_ranked2.append(w)

In [39]:
## display the "cleaned" version
len(words_ranked2)

5896

In [41]:
len(words_ranked)

6035

In [40]:
len(words_ranked2) / len(words_ranked)

0.9769676884838442

In [44]:
for w in words_ranked2[:50]:
    print(w, counter[w])

harry 1214
said 794
ron 410
hagrid 336
back 261
hermione 257
one 255
got 198
didnt 195
could 195
like 194
get 194
know 188
see 180
professor 180
looked 169
dont 145
snape 145
dumbledore 143
around 142
hed 138
well 138
going 135
go 134
something 129
never 126
look 126
right 125
think 123
im 121
uncle 121
time 119
dudley 116
harrys 113
first 111
malfoy 109
would 108
even 105
couldnt 105
eyes 105
door 105
vernon 105
neville 102
two 100
yeh 100
head 99
looking 98
thought 96
next 96
potter 95

## 2.5 Visualization

In [ ]:
# plot the top 20 words in the book