# Coding exercises from the previous class

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/xiangshiyin/python-for-kids/blob/main/2022-2023/2022-11-19/practice.ipynb)

# 1. Non-primitive Data Types

## Common data types include:
* list
* tuple
* set
* dictionary

## Official documentation: https://docs.python.org/3/tutorial/datastructures.html#

## 1.3 Set

In [1]:
## create a set: {} and set(), by manually putting in all the elements
a = {1,2,3}

In [2]:
a

{1, 2, 3}

In [3]:
b = set([1,2,3,4]) # from a list
b

{1, 2, 3, 4}

In [4]:
b = set([1,2,3,4,1]) # from a list with duplicates
b

{1, 2, 3, 4}

In [5]:
## create an empty set and add elements to it
a = set()
a

set()

In [6]:
a.add(1) # add an element

In [7]:
a

{1}

In [8]:
a.add(1) # add the same value again
a

{1}

In [9]:
a.add(2) # add one more
a

{1, 2}

In [10]:
## set operations: union, intersection, difference
x = {1,2,3}
y = {3,4,5}

![](./Python-Set-Operatioons.png)

In [12]:
# z = x.union(y)
z = x | y
z

{1, 2, 3, 4, 5}

In [14]:
# z = x.intersection(y)
z = x & y
z

{3}

In [15]:
z = x - y
z

{1, 2}

In [16]:
z = y - x
z

{4, 5}

In [17]:
## can we index elements in set?

a = {3,2,1}

In [18]:
a[0]

TypeError: 'set' object is not subscriptable

In [22]:
## how we combine 2 sets??
x = set([1,2,3])
y = set([2,3,4])

x.union(y)

{1, 2, 3, 4}

In [21]:
## in list
x = [1,2,3]
y = [2,3,4]
# x.extend(y)
# x

x + y

[1, 2, 3, 2, 3, 4]

In [27]:
## add and remove an element in a set
x = {1,2,3}
x.add(4)
x

{1, 2, 3, 4}

In [28]:
# x.pop() # randomly picked

x.remove(2)

In [29]:
x

{1, 3, 4}

In [52]:
## check if an element exists in a set

x = {1,2,3}

In [53]:
2 in x

True

In [54]:
4 in x

False

## 1.4 Dictionary

In [32]:
## create a dictionary
x = {'a':1, 'b':2}

In [33]:
x

{'a': 1, 'b': 2}

In [34]:
## create an empty dictionary, x = {}
x = {}
type(x)

dict

In [35]:
x = dict()
type(x)

dict

In [36]:
## access elements in a dictionary, x[key]
x['c'] = 3

In [37]:
x

{'c': 3}

In [38]:
x['d'] = 4

In [39]:
x

{'c': 3, 'd': 4}

In [40]:
## find a value by key
students = {'james': 12, 'kevin': 10, 'collin': 11}

In [41]:
students['kevin']

10

In [42]:
## changing and adding elements in a dictionary
students = {'james': 12, 'kevin': 10, 'collin': 11}

In [43]:
students['shawn'] = 10
students

{'james': 12, 'kevin': 10, 'collin': 11, 'shawn': 10}

In [44]:
students['shanna'] = 100
students

{'james': 12, 'kevin': 10, 'collin': 11, 'shawn': 10, 'shanna': 100}

In [45]:
students['shanna'] = 10
students

{'james': 12, 'kevin': 10, 'collin': 11, 'shawn': 10, 'shanna': 10}

In [46]:
## remove elements in a dictionary, x.pop()
students.pop('shawn')

10

In [47]:
students

{'james': 12, 'kevin': 10, 'collin': 11, 'shanna': 10}

In [48]:
student_age_delted = students.pop('kevin')
students

{'james': 12, 'collin': 11, 'shanna': 10}

In [49]:
student_age_delted

10

In [50]:
## check if a key exists in a dictionary

'james' in students

True

In [51]:
'shawn' in students

False

## 1.5 Iterate through these data types

### 1.5.1 List

In [56]:
## iterate through the list and print every single element in order
x = [1,2,3,4,5,6,7,8,9]

# option 1: using the positional index
for i in range(len(x)):
    print(i, x[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [57]:
# option 2:

for v in x:
    print(v)

1
2
3
4
5
6
7
8
9

In [58]:
x = 'abc'
for v in x:
    print(v)

a
b
c

In [ ]:
## iterate through the list and print every single element in reversed order

### 1.5.2 Tuple

In [ ]:
## iterate through a tuple

### 1.5.3 Set

In [ ]:
## iterate through a set

### 1.5.4 Dictionary

In [ ]:
## iterate the keys in a dictionary

In [ ]:
## iterate the values in a dictionary

# 2. Exercise

## 2.1 Print all key-value pairs in a dictionary

In [ ]:
students = {'james': 12, 'kevin': 10, 'collin': 11}

## 2.2 Write a program to sort a given list

* Input: x = [2,1,4,3,0]
* Output: [0,1,2,3,4] (either print it out or return a variable with the sorted result)